@media (max-width: 1340px){

    

    .contratar{
        padding: 30px 0;
    }

    .cards-contratar{
        flex-direction: column;
    }

    .cards-contratar .card-contratar{
        margin-bottom: 20px;
        margin-right: 0;
    }

    .cards-contratar .card-contratar:last-child{
        margin-bottom: 0;
    }

    .cards-cursos{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cards-cursos .card-cursos{
        margin-bottom: 20px;
        margin-right: 0;
    }

    .cards-cursos .card-cursos:last-child{
        margin-bottom: 0;
    }

    .cards-cursos .card-cursos:nth-child(2){
        margin-left: 0;
    }

    .cards-cursos .card-cursos:last-child{
        margin-right: 0;
    }

    .defocus{
        -webkit-filter: blur(0px);
    }


    /* RODAPÉ */

    .copyright-line{
        flex-direction: column;

        justify-content: center;
        align-items: center;
    }

    .copyright-line img{
        margin-bottom: 20px;
    }

    .footer{
        align-items: center;
        justify-content: center;
    }

    .footer ul li{
        text-align: center;
    }
}

@media (max-width: 420px){
    .card-contratar p{
        padding: 5px;
        width: 220px;
    }

    .card-cursos p{
        padding: 5px;
        width: 220px;
    }
}

@media(max-width: 1191px){

    .obj-content{
        flex-direction: column;
        
    }

    .card-obj{
        margin-bottom: 20px;
        margin-right: 0;
    }

    .card-obg p{
        margin-bottom: 30px;
        
    }
}

@media(max-width: 1325px){
    .banner{
        height: auto;
        padding: 100px 0;
    }

    .banner-content{
        flex-direction: column;
        padding: 0 10%;
    }

    .banner-icon{
        width: 100px;
        margin-bottom: 15px;
    }


}

@media(max-width: 650px){
    .mobile{
        display: block;
    }

    .desktop{
        display: none;
    }

    .banner-box{
        padding: 20px;
    }

    .banner-icon{
        width: 100px;
        margin-bottom: 15px;
    }
}
